@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#red {
  animation: flicker 2s ease alternate infinite;
}

.element {
  animation: flicker $randomNumber alternate infinite;
}

:root {
  --main-color: background: linear-gradient(rgb(198, 210, 200), rgb(195, 176, 212), rgb(187, 140, 223), rgb(176, 102, 233), rgb(161, 56, 242));;
}

#my-element {
  color: var(--main-color);
}

#my-element:hover {
  --main-color: blue;
}
